// out: master.css, sourcemap: true, compress: true

font_fam = 'Mukta', sans-serif
font_color = #EEEEEE
border_color = #177E89

html, body
  margin: 0
  padding: 0

body
  overflow: scroll

#canvas
  background: url("../assets/transp_bg.png")
  min-width: 2000px
  min-height: 2000px
  transform-origin: left top
  position: absolute
  z-index: -1000000000000

#menu
  position: fixed
  right: 0
  width: 400px
  height: 100vh
  background: #181A1C
  display: none
  z-index: 999999999999999

#head
  font-family: font_fam
  color: font_color
  font-size: 30px
  text-align: center
  padding-top: 10px

#close
  color: #DB3A34
  font-size: 40px
  float: right;
  margin-right: 10px
  margin-top: 10px
  cursor: pointer

#open
  position: fixed
  color: border_color
  font-size: 40px
  top: 10px
  right: 10px
  cursor: pointer
  z-index: 10

#options
  overflow-y: scroll
  height: 80vh

.option
  display: flex
  margin-top: 10px
  margin-bottom: 10px

.icon_img
  font-size: 40px
  color: #084C61
  margin-left: 30px
  margin-top: -9px

.inputs
  display: flex
  margin-left: 15px

.input
  display: flex
  margin-right: 10px
  margin-left: 10px

input[type=number]
  width: 50px
  height: 20px
  border: 2px solid border_color
  border-radius: 4px
  margin-left: 10px
  padding-left: 10px

.input_label
  line-height: 28px
  font-size: 18px
  color: font_color
  font-family: font_fam

input[type="color"]
  margin-left: 17px

.option_head
  margin-left: 15px
  font-family: font_fam
  color: font_color
  font-size: 20px

.fnt_clr
  margin-left: 22px

#font_size
  margin-left: 26px

input[type="text"]
  width: 125px
  height: 20px
  margin-left: 8px
  border: 2px solid border_color
  border-radius: 4px
  padding-left: 8px

.bx-rotate-10
  transform: rotate(10deg)

.txt_effects
  cursor: pointer;
  padding: 5px
  border-radius: 5px

.txt_effects:hover
  background: #0d0d0e

.active
  background: #0d0d0e

select
  margin-left: 10px
  border: 2px solid border_color
  border-radius: 4px
  background: #fff
  color: #212121

#element_selector
  margin-left: 30px
  min-width: 150px
  max-height: 30px

input[type="button"]
  width: 192px
  font-size: 20px
  color: #fff
  background: #277e88
  border: none
  border-radius: 4px

.zoom
  position: fixed
  bottom: 10px
  left: 10px
  font-size: 30px
  color: #287e87
  z-index: 10;
  display: flex;

.zoom > i
  cursor: pointer

#amount
  font-family: font_fam
  font-size: 20px
  margin-left: 10px

.artboards
  position: fixed
  top: 10px
  left: 10px
  font-size: 30px
  color: #287e87
  z-index: 10;
  display: flex;

.artboards > i
  cursor: pointer

input[type="file"]
  margin-left: 10px
  margin-top: 4px
  width: 180px

div[data-group=*]
  transform-origin: center
